*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: #5a5a5a;
    
}
i
{
    cursor: pointer ;
    
}
.flex-div{
    display: flex;
    align-items: center;
    
}
nav{
    padding: 10px;
    width: 100%  ;
    height: auto;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
    
}

.nav-right img{
    width: 25px;
    
}
.nav-right .iconright{
    padding: 7px;
    width: 40px;
    border-radius: 50%;
    margin-right: 0px;
}
    
.nav-left .iconleft{
    width: 130px;
    margin-left: 10px;
    padding: 00px;
    
}
.nav-left .menu{
    width: 30px;
    padding: 8px;
    
}
.nav-middle .mic-icon{
    width: 16px;
    
}
.nav-middle .searchbox{
    padding: 8px;
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    
}
.nav-middle .searchbox input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;

}
.nav-middle .searchbox img{
    width: 16px;
    
}

    /* ------sidebar------ */

.sidebar{
    background-color: #fff;
    
    width: 200px;
    bottom: 0;
    padding-left: 10px;
    overflow-y: scroll;
    border-right: 1px solid rgb(156, 156, 156);
    z-index: 5;
    position: sticky;
    

}
.shortcut-links a img{
    width: 25px;
    margin-right: 20px;

    
}
.shortcut-links a{
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    
    
}
.sidebar-menus{
    padding: 5px 10px;

}
.shortcut-links a:first-child{
    color: red;
    

}
.sidebar hr{
    border: 0;
    height: 1px;
    background-color: #6a5151;
    width: 150px;
    
}
 
.subscribers img{
    border-radius: 50%;
    width: 40px;
    
}
.sidebar a{
    display: flex;
    margin: 7px;
    padding: 3px;
    
}
.subscribers p{
    padding: 12px 10px;
    
     
}
.h4{
    padding: 20px 0 5px 10px; 
    
}
.more-yt p{
    padding: 10px 10px;
    
}
.topics{
    padding: 20px 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    width: 75vw;
   


}
.topics a{
    padding: 5px 20px;
    background-color: #d2b6b6;
    border-radius: 25px;
    
    

}
.main-and-sidebar{
    display: flex;
    flex-direction: row;
    margin-top: 155px;
      

}
.main-content{
    width: 83vw;
}



        /*  main content */

.grid-main{
    display: grid; 
    margin-top: 20px;
    margin-left: 2vw;
    margin-right: 20px;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax( 300px,1fr ));
    row-gap: 25px;
    column-gap: 15px;
}
.banner img{
    margin: 20px;
    width: 80dvw;
    height: auto;
}
.video{
    background-color:  #F5F5F5;
    box-shadow: 0 0 5px #000;
    border-radius: 5px;

}

.thumbnail{
    width: 100%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

}
.video-creator img{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 50%;
    width: 100%;
    padding: 5px;
    
}

.thumbnail-description{
    display: flex;
    font-size: small;
    align-items: center;
    padding: 5px;
    
}
.days-views{
    display: flex;
    flex-direction: column;
    font-size: small;
    margin-left: 60px;
}
.creator{
    width: 25%;
    height: 25%;
}




                    /* end of main-content */